@charset "UTF-8";

@media screen and (min-width: 760px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, blue, rgb(116, 116, 249) );
    }
    section#login{
        width: 90vw;
    }
    section#login > div#img{
        float: left;
        width: 30%;
        height: 100%;
    }
    
    section#login > div#for{
        float: right;  
        width: 70%; 
    } 
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, blue, rgb(116, 116, 249) );
    }
    section#login{
        width: 950px;
    }
    section#login > div#img{
        float: right;
        width: 50%;
        height: 100%;
    }
    
    section#login > div#for{
        float: left;  
        width: 50%; 
    } 
    div#for > h1{
        font-size: 2em;
    }
    div#for > p{
        font-size: 1.2em;
    }
}